body {
  overflow-x:hidden;
}

.div-name-ufab h2 {
  color:#7ab73d;
}

.div-name-ufab h1 {
  color:#3d49b7;
}

.form-group.box-app {
  border-left:5px;
  border-color:red;
}

.box-app {
  border:1px solid #3d49b7;
  border-left-width:1px;
  border-radius:4px;
  border-left-width:5px;
  padding:8px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
}

.container-form {
  margin-top:2%;
}

.form-side-app {
  height:700px;
  overflow-y:auto;
}

.box-overlay-app {
  height:500px;
  overflow-y:auto;
}

.bnt-table {
}

.btn-table {
  background-color:#3d49b7;
  color:#7ab73d;
  border-radius:10px;
}

.btn-dash{
  color: #fff !important;
}